<div class="index">
  <%- partial("_partial/post-list", { posts: site.posts.sort("date", "desc").limit(theme.index_list), icon: true }) %>
</div>
<div class="archives">
  <a href="/archives"><span class="fa fa-anchor"></span></a>
</div>
